@charset "UTF-8";

:root {
	--divider: #000;
}

body {
	background: white;
	font-family: Consolas, "SF Mono", 'DejaVu Sans Mono', monospace;
	max-width: 40em;
}

*:focus {
	outline: 3px solid #fd3283;
}

h1 {
	border-bottom: 1px solid var(--divider);
	margin-bottom: 1rem;
}

img {
	display: block;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	font-size: 12px;
}

img::before {
	content: attr(alt);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 2;
	background-color: white;
	display: flex;
	align-items: center;
}

p:first-of-type {
	margin-top: 0;
}

ul {
	padding-left: 14px;
}

.card {
	display: flex;
}

.card__media {
	padding-right: 20px;
}

footer {
	border-top: 1px solid var(--divider);
	padding-top: 1em;
}
